@media only screen and (min-width: 768px) {
  .recipe-ingredients {
    width: 40%;
  }

  .all-steps {
    width: 60%;
    padding-left: 1rem;
  }

  .recipe-content {
    padding-left:2rem;
    padding-right:2rem;
  }
}
