.total-time-line {
    @include content-font;
    display: flex;
    justify-content: center;
    svg {
        margin-right: 4px;
    }
    margin-bottom: 16px;
}

.recipe-keywords {
    font-family: Comfortaa;
    color: #666666;
    font-style: italic;
    text-align: center;
    margin-top: 16px;
}

.recipe-actions {
    font-family: Comfortaa;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 16px;
    a {
        text-decoration: none;
        background-color: lightgray;
        border-radius: 100%;
        padding: 15px 10px 5px 10px;
    }
}

.recipe-content {
  @include content-font;
}

.recipe-ingredients {
    font-family: Comfortaa;
    background-color: #EEEEEE;
    border: 1px solid black;
    box-sizing: border-box;
    float:left;
    padding: 0 15px 15px 15px;
    width: 100%;
}

table.recipe-ingredients-table {
    width: 100%;
    td {
        height: 24px;
    }
}

td.ingredient-amount-col {
    font-weight: bold;
}

.all-steps {
    @include content;
    box-sizing: border-box;
    float:left;
}

h3.section-title {
    margin: 10px 0;
}

.recipe-step {
    margin: 5px 0;
}
