---
title: Як залишатись рухомим вдома.
image_name: stay-active-at-home
description: Під час карантину COVID-19 важливо залишатись вдома і не забувати про те, як для нас важливо рухатись. В статті дається комплекс простих вправ, для того щоб підтримувати себе в належному стані.
original:
  name: Stay physically active during self-quarantine
  webpage: http://www.euro.who.int/en/health-topics/health-emergencies/coronavirus-covid-19/novel-coronavirus-2019-ncov-technical-guidance/stay-physically-active-during-self-quarantine
  source: who-eu
layout: knowledge
---

<h2>Як залишатись рухомим вдома.</h2>

<p>Новий COVID-19 продовжує розповсюджуватись по Європі, і здорових людей
  закликають залишатись вдома в умовах само-ізоляції. В деяких країнах фітнес
  центри та інші місця де люди зазвичай займались спортом будуть зачинені.
  В таких умовах буде доволі складно підтримувати рухливий спосіб життя.
  Сидячий спосіб життя та низький рівень фізичної активності можуть мати
  негативний вплив на здоров'я, самопочуття на якість життя людей.
  Само-ізоляція може також викликати додатковий стресс та негативно вплинути
  на емоціональне здоров'я. Фізична активність та техніки для розслаблення
  можуть стати корисними інструментами для того щоб залишатись спокійним та
  продовжувати захищати своє здоров'я протягом цього часу.</p>

<p>ВООЗ рекомендує 150 хвилин середнього навантаження або 75 хвилин сильного
  фізичного навантаження на тиждень, або їх комбінацію. Виконання цих
  рекомендації цілком можливе навіть в домашніх умовах без спеціальних
  тренажерів та в обмеженому просторі. Ось декілька порад які дозволять вам
  залишатись активними вдома та зменшити час проведений сидячі:</p>

<p><b>Робіть короткі активні перерви протягом дня.</b>Такі спалахи активності
  можуть легко покрити тижневу рекомендовану норму. Нижче ви можете ознайомитись
  з прикладами вправ, які можуть вас надихнути. Тані, ігри з дітлахами та
  виконання домашніх обов'язків таких як примирання чи робота в саду також
  будуть корисними.</p>

<p><b>Долучайтесь до онлайн тренувань.</b>Скористайтесь купою доступних онлайн
  уроків. Багато з них безкоштовні та їх можна легко знайти на Youtube. Якщо ви
  раніше таким не займались - будьте обережними та пам'ятайте про свої
  здібності.</p>

<p><b>Гуляйте.</b>Навить в обмежених просторах гуляти по колу чи на місці може
  допомогти зберегти рухливість. Якщо вам зателефонували - встаньте та походить,
  замість того щоб сидіти. Якщо ви вийшли на вулицю походити чи зробити вправи,
  дотримуйтесь мінімальної рекомендованої відстані до інши людей в 1 метр.</p>

<p><b>Встаньте.</b>Зменшіть час який ви проводите сидячі за кожної можливості.
  В ідеалі, старайтесь не сидіти більше 30ти хвилин. Спробуйти встановити собі
  стоячий робочий стіл, чи побудуйте невеличку вежу з книжок чи інших предметів
  для того щоб попрацювати стоячи. Під час відпочинку сидячі старайтесь зайняти
  ваш розум читанням, настільними іграми чи пазлами.</p>

<p><b>Розслабтеся.</b>Медитація та глибокі вдохи дозволять вам залишатись
  спокійним. Нижче наведено декілька методів для розслаблення.</p>

<p>Для міцного здоров'я також важливо здорове харчування та споживання води.
  ВООЗ рекомендує пити воду замість підсоложених напоїв. Знижуйте або взагалі
  утримайтесь від споживання алкоголю в дорослих та категорично уникайте у
  молодих людей, вагітних жінок чи жінок які годують груддю, або якщо ви маєте
  протипоказання. Старайтесь споживати багато фруктів та овочів, та обмежте
  споживання солі, цукру та жирів. Надавайте перевагу цільнозерновим продуктам
  замість обробленої їжі. Якщо ви бажаєте детальніше ознайомитись з порадами
  ВООЗ щодо здорового харчування - перегляньте
  <a href="https://www.who.int/news-room/fact-sheets/detail/healthy-diet">збірку
    фактів про здорову дієту ВООЗ.</a></p>

<h2>Приклади фізичних вправ які можна робити двома.</h2>

<p>Для того щоб підтримати людей які залишаються вдома і хочуть бути активними,
  ВООЗ/Європа підготували збірку прикладів домашніх фізичних вправ.</p>

<h3>Коліно до ліктя</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="knee-to-elbow" %}

<p>Доторкніться до коліна протилежним літкем, змініть сторону. Знайдіть
  інтенсивність яка вам підійде. Спробуйте робити цю вправу 1-2 хвилини,
  відпочиньте 30-60 секунд, та повторіть до 5ти разів. Під час цієї вправи у вас
  має підвищитись пульс та частота дихання.</p>

<h3>Планка</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="plank" %}

<p>Поставте лікті на підлогу вертикально під плечима. Тримайте бедра на рівні
  голови. Тримати позу 20-30 секунд (або більше, якщо це можливо), відпочиньте
  30-60 секунд, та повторіть до 5ти разів. Ця вправа зміцнить ваш прес, руки та
  ноги.</p>

<h3>Розтягування спини</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="back-extensions" %}

<p>Доторкніться кінчиками пальців до вух та підніміть тулуб над підлогою. Ваші
  ноги мають лежати на землі. Опустіть тулуб на підлогу. Повторіть вправу 10-15
  разів (або більше), відпочиньте 30-60 секунд, та повторіть до 5 разів. Ця
  вправа зміцнить м'язи вашої спини.</p>

<h3>Сидіння на корточках</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="squats" %}

<p>Поставте ноги на ширині бедр, та відставте пальці ніг в сторони. Зігніть ноги
  в коліні, тримаючи п'яти на підлозі а коліна над стопами (а не попереду).
  Вирівняйтесь та повторіть вправу 10-15 разів (або більше), відпочиньте 30-60
  секунд, та повторіть 5 разів. Ця вправа зміцнить ваші ноги.</p>

<h3>Піднімання колін в сторони</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="side-knee-lifts" %}

<p>Доторкніться коліном до ліктя, піднімаючи коліно вбік, змініть сторону.
  Знайдіть комфортний темп. Спробуйте повторити це 1-2 хвилини, відпочиньте
  30-60 секунд, та повторіть 5 разів. Ця вправа має підвишіти ваш серцевий та
  дихальний ритм.</p>

<h3>Суперен</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="superman" %}

<p>Поставте долоні вертикально під плечима, а коліна - під бедрами. Підніміть
  одну руку вперед та протилежну ногу назад, змініть сторони. Повторіть цю вправу
  20-30 разів (або більше), відпочиньте 30-60 секунд, та повторіть 5 разів. Ця
  вправа зміцнить ваш прес, ноги та спину.</p>

<h3>Місток</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="bridge" %}

<p>Розмістіть ноги міцно на підлозі так, щоб коліна були вертикально над
  п'ятами. Підніміть стегна максимально вгору, доки це не викликає дизкомфорту
  та повільно опустіть їх назад на підлогу. Повторіть вправу 10-15 разів (або
  більше), відпочиньте 30-60 секунд, та повторіть до 5ти разів. Ця вправа
  зміцнить ваші ноги.</p>

<h3>Присідання зі стільцем</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="chair-dips" %}

<p>Тримайтесь за сидіння стільця, відставивши ноги приблизно на пів метра від
  стільця. Згинайте руки коли ви опускаєте тіло до підлоги, потім розпряміть
  руки. Повторіть вправу 10-15 разів (або більше), відпочиньте 30-60 секунд,
  та повторіть до 5ти разів. Ця вправа зміцнить ваш трицепс.</p>

<h3>Відкриваємо груди</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="chest-opener" %}

<p>Зхрестіть пальці за спиною. Витягніть руки та відкрийте ваші груди вперед.
  Тримайте цю позицію 20-30 секунд (або більше). Так ви розтягуєте ваші груди
  та плечі.</p>

<h3>Поза дитини</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="child-s-pose" %}

<p>Тримаючи коліна на підлозі, дотягніться стегнами до п'ят. Розслабте живіт
  та потягніться руками вперед. Дихайте нормально. Тримайте цю позицію 20-30
  секунд (або більше). Так ви розтягуєте вашу спину, плечі та боки тіла.</p>

<h3>Медитуємо сидячі</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="seated-meditation" %}

<p>Сядьте зручно на підлозі та схрестіть ноги (або сядте на стілець).
  Вирівняйте спину. Закрийте очі, розслабте тіло та поступово збільшуйте
  глибину дихання. Зконцентруйтеся на диханні, та постарайтеся ні про що не
  думати, або хвилюватись. Залишайтесь в такій позі 5-10 хвилин або більше,
  розслабляйтесь та очищайте свій розум.</p>

<h3>Ноги вгору на стіні</h3>

{% include image.html prefix="knowledge" chapter="stay-active-at-home" image="legs-up-the-wall" %}

<p>Ляжте так, щоб ваші бедра були на відстані 5-10см від стіни, дозвольте ногам
  спертись на стіну. Закрийте очі, розслабте тіло та поступово збільшуйте
  глибину дихання. Зконцентруйтеся на диханні, та постарайтеся ні про що не
  думати, або хвилюватись. Відпочиньте 5хв в такій позі. Ця позиція має бути
  комфортною, розслабляючою та зменшувати стрес.</p>
