body {
    margin: 0;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.recipe {
    margin: 0;
    padding: 0;
    img { width: 100%; height: 100%; }
}

.parent {
    text-align: center;
}

.step {
    position: relative;
    display: inline-block;
    ul {
        position: absolute;
        bottom: 0;
        background-color: #ffffff99;
        width: 100%;
    }
}

@import "desktop";