---
layout: main
title: Про нас
description: Чим займається морква тек? Як ми це робимо і навіщо?
---

<h2>Про нас</h2>

<h3>... і їжу</h3>

<p>Кухня різних народів дуже схожа, але в той же час дуже відрізняєьться.
  Ми дивимось на звичну нам їжу через ширшу призму світової кулінарії. Якщо ви
  хочете спробувати щось новеньке - то вам до нас.</p>

<p>Відомі та невідомі нам страви часто зустрічаються в інших країнах, культурах
  та блогах популярних кухарів. Вони відрізняються складом, формою, начинкою,
  приготуванням, подачею але все ж залишаються однією і тією ж стравою. Для
  кожної страви з України чи іншої країни ми надаємо наш варіант приготування.
  Також паралельно ми даємо посилання на популярні сайти та відео кухарів де
  вони презентують свій варіант приготування. Заходьте до них, пробуйте їх
  варіант, вивчайте їхню мову на їхній кухні, адже в цій версії Мультивсесвіту
  ми ідемо в Європу та світ!</p>

<p>Більшість сайтів пропонують вам ~100 рецептів олів'є. Ми пробували мабуть 5 з
  них. Всі ці рецепти були невдало перекладені з російської мови. На сайтах з
  дуже схожими рецептами олів'є російською мовою, виявилось ще по 50-100
  рецептів болоньєзи, які крім того що були знову ж таки невдало перекладеними,
  так після їх приготування дійсно здавалось що Європа просто не може збиратись
  родиною навколо таких потравин...</p>

<p>Я вважав що я знаю англійську мову на достойному рівні. Але після того. як я
  відвідав англомовні сайти з рецептами - мав вивчити стос нових слів таких як
  "ґарлік" або "сток". Дивовижно, але якість моїх страв, їх різноманіття та
  дрібниці з якими я зміг експерементувати швидко зріс. Мета цього сайту -
  зробити ваш вхід в міжнародну культуру простішим, цікавішим та смачнішим.
  Вивчайте мови, підглядайте на кухні інших країн та робіть свою битовуху
  різнобарвною та цікавою разом з знами та світом!</p>

<h3>... і кулінарну теорію</h3>

<p>На багатьох кулінарних сайтах можна знайти статті де можна прочитати про
  калорійність, енергетичну цінність, вітамінну збагаченість та рік відкриття
  того чи іншого харчового інгридієнта. Подорожуючи різними країнами (та
  імігруючи в деяки з них), люди стикаються з дещо іншою проблемою - в різних
  регіонах Землі популярні різні інгридієнти. Імовірно хліб, молоко та бурґери
  ви знайдете в будьякому кутку світу. Але знайти сметану, оселедець чи крабові
  палички може стати реальним випробуванням.</p>

<p>В наших статтях в рубриці "Кулінарна Теорія" ми хочемо не лише познайомити
  вас з новими, непопулярними в Україні інгридієнтами, а також познаймити вас з
  модифікаціями та варіаціями відомих вам інгридієнтів в світі. Там ви зможете
  ознайомитись з такими мало популярними інгридієнтами на кухні, як
  <a href="/knowledge/chia-seeds.html">насіння чіа</a>, чи дізнатись як знайти
  за кордоном <a href="/knowledge/surimi-sticks.html">крабові палички</a> чи
  оселедець.</p>

<p>Крім того, там є статті про необхідні навички на кухні. Їх основна мета -
  зробити сайт самостійним джерелом інформації.</p>

<h3>... і здоров'я</h3>

<p>На <a href="https://suprun.doctor/">своєму сайті</a> та у своїх дописах Уляна
  Супрун часто дає посилання на додаткову інформацію. Це дуже хороша звичка -
  люди, які зацікавились питанням, можуть знайти додаткову інформацію за ціма
  посиланнями. З іншого боку решта людей може просто ознайомитись з
  проблематикою та, можливо, порадити статтю чи допис тим людям, яким це дійсно
  потрібно. Але більшість посилань пані Супрун (та як виявилось і її
  однодумців, наприклад, Дарки Озерної) є англомовними. Наша країна межує з
  Європейським Союзом, тому звісно ж всім нам варто знати загальновживану мову
  наших сусідів - англійську. Бажано звісно знати і інші мови - французьку,
  німецьку, італійську, іспанську та інші. Але, нажаль, ми довго були прикуті до
  Росії, і найпоширенішою другою мовою у нас є російська.</p>

<p>Тому для того щоб заповнити прогалину між знанням мови наших сусідів та
  посиланнями важливими для нашого здоров'я та розвитки, ми перекладаємо статті,
  на які даються посилання.</p>

<p>Наші джерела:

<ul>
<li>{% include link.html url="https://www.nhs.uk/" %} - Вебсайт національної
  охорони здоров'я Великої Британії.
<li>{% include link.html url="https://www.cdc.gov/" %} - Американська
  організація охорони здоров'я (вільний переклад).
<li>{% include link.html url="https://www.britannica.com/" %}
<li>{% include link.html url="https://www.health.harvard.edu/" %}
<li>{% include link.html url="https://www.nice.org.uk/" %}
<li>{% include link.html url="https://www.ncbi.nlm.nih.gov/" %}
<li>{% include link.html url="https://www.thelancet.com/" %}
<li>{% include link.html url="https://www.nature.com/" %}
</ul></p>
