---
layout: base
title: Кулінарна Теорія
hero:
  dir: /assets/h
  subdir: e
---

<h1 class="title">{{page.title}}</h1>

<p class="content">Знання, навички та історії які зроблять приготування їжі
комфортним та захоплюючим.</p>

<div class="list">
  {% include knowledge-card.html title="dukkah" %}
  {% include knowledge-card.html title="surimi-sticks" %}
  {% include knowledge-card.html title="chia-seeds" %}
  {% include knowledge-card.html title="egg-whites" %}
  {% include knowledge-card.html title="curry-powder" %}
</div>
