{{ define "main" }}
  <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>

  {{- .Content -}}

  sections:
  {{ if gt (.Sections | len) 0 }}
  <ul class="posts">
    {{ range .Sections }}
      {{- partial "summary.html" . -}}
    {{ end }}
  </ul>
  {{ end }}
  pages:
  <ul class="posts">
    {{ range .Paginator.Pages }}
      {{- partial "summary.html" . -}}
      {{ with .Resources.GetMatch "banner" }}
        <img src="{{- .Permalink -}}"></img>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
