{{ define "main" }}
  <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>

  {{- .Content -}}

  <div class="recipes">
    {{ with .Site.GetPage "recipes" }}
      {{ range .Sections }} {{/* deserts, mains, salads, etc. */}}
        {{ range .Pages }} {{/* pancakes, vinegret, borscht, etc. */}}
        {{ $image := .Resources.GetMatch "banner.jpg" }}
          {{ if $image }}
            <div class="recipe">
              <a href="{{ .Permalink }}">
                <img src="{{ $image.Permalink }}"></img>
              </a>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
